*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom Varaibles */

:root{
    --pinkish : #f22853;
    --yellowish : #f9d459;
    --blackish : #646464;
    --greenish : #02491e;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Main Heading */

.main-heading{
    font-size: 3rem;
    color: var(--pinkish);
}

/* Upper Area */

.upper-area{
    width: 80%;
    height: 200px;
    border-radius: 20px;
    display: flex;
}

.upper-area > div{
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Player 1 and 2 */

.upper-area #player1 , .upper-area #player2{
    padding: 15px 15px;
    border: 3px solid var(--pinkish);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 50px;
    align-items: center;
    gap: 10px;
}

.upper-area #player2{
    border: 3px solid var(--yellowish);
}

.upper-area .image-div{
    position: absolute;
    top: 70px;
    width: 85px;
    height: 85px;
    border-radius: 50%;
}

.upper-area .image-div img {
    width: 100%;
}
 
.upper-area .player-heading{
    font-size: 2em;
    color: var(--blackish);
}

.upper-area i{
    font-size: 38px;
    padding: 8px 20px;
    border-radius: 15px;
}

#player1 i{
    color: var(--pinkish);
    border: 1px solid var(--pinkish);
}

#player2 i{
    color: var(--yellowish);
    border: 1px solid var(--yellowish);
}

/* Message Area */

.upper-area #message-area{
    margin-top: -55px;
    display: flex;
    align-self: center;
    background-color: var(--greenish);
    padding: 15px;
    color: aliceblue;
    font-size: 28px;
}

/* Game Area */

.game-area{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    margin-top: -40px;
    /* gap: 15px; */
}

.game-area .row {
    /* gap: 15px; */
    display: flex;
}

.game-area .row > div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    /* border: 1px solid var(--blackish); */
    font-size: 38px;
}

.game-area .row > .winner{
    font-size: 68px;
}

/* Hover on Divs */

.game-area .row > div:hover{
    cursor: pointer;
}

.game-area .row > div:not(.checked):hover{
    background-color: #e9e9e9
}

.game-area .row > div i:hover{
    cursor: pointer;
}
/* JS Styles for Divs */


.left{
    border-left : none !important;
}

.top{
    border-top : none !important;
}

.bottom{
    border-bottom : none !important;
}

.right{
    border-right: none !important;
}




